@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

/* 
body {

} */


.themeColor {
  background-color: #C39F5D;
}


body {
  background: transparent linear-gradient(97deg, #283606 0%, #0F1500 100%) 0% 0% no-repeat padding-box;
  font-family: "Playfair Display", "inter", "sans-serif";
}

.sideMenu {
  background: transparent linear-gradient(97deg, #283606 0%, #0F1500 100%) 0% 0% no-repeat padding-box;
}

.slick-slide {
  padding: 0;
}

.slick-list {
  margin: 0;
}